---
import Nav from "./Nav.astro";
---

<header>
  <div class="inner">
    <span class="logo">RB</span>
    <Nav />
  </div>

  <style>
    header {
      border-bottom: 1px solid var(--border);
    }

    .inner {
      max-width: var(--max-width);
      margin: 0 auto;
      padding: 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo {
      font-weight: 600;
      letter-spacing: 0.1em;
    }
  </style>
</header>
