---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
---

<BaseLayout>
  <Section title="Contact">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
  </Section>
</BaseLayout>
