---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
---

<BaseLayout>
  <Section title="Introduction">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Integer nec odio. Praesent libero.
    </p>
  </Section>

  <Section title="Featured Work">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
  </Section>
</BaseLayout>
